body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
  
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
  padding-bottom: 15px;
  
} 
.heading2 {
  padding-top: 20px;
  padding-bottom: 15px;
  
  
} 
    
	P{
		position: relative;
		text-align: center;
		width: 95%;
		height: 400px;
		padding-top: 25px;
        padding-bottom: 25px;
		color: black;
		font-size: 16px;
	 }
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.6em;
 
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.heading2 h2 { /*our  Menu */
  font-family: 'Oxygen', sans-serif;
  
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 15;
  margin-bottom: 15;
  line-height: .75;
  text-align: center;
  
}

div #item1,  div #item2, div #item3 { /*Chicken */
  font-family: 'Oxygen', sans-serif;
  background-color: #61122f;
  color: blue;
  font-size: 17px;
  font-weight: bold;
  width: 95%
  top: 0px;
  text-align: center;
  line-height: .75;
  postion: obsolute;
  margin-top: 30px; 
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 10px;
  
  
}
.row{
	width: 100%
    }

div #container1, div #container2, div #container3
{
	font-family: 'Oxygen', sans-serif;
	
	position: relative;
	
	width: 100%
	
}	


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  
  }



#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 100px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 6px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  

  #call-btn > a {
    font-size: 0.8em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
 